.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.custom-nav-link {
    color: #000000; /* Couleur noire pour les liens */
    font-size: 1.2em; /* Augmente la taille de la police */
}
.custom-nav-link:hover {
    color: #000000; /* Couleur noire au survol */
    font-weight: bold; /* Gras au survol */
}
.custom-nav-link.active {
    color: #0000FF; /* Couleur bleue pour le lien actif */
}


body {
    padding-top: 70px; /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
}


.bg-vert {
    color: green; /* Pour rendre le texte lisible sur fond vert */
}
.bg-rouge {
    color: red;}   /* Pour rendre le texte lisible sur fond rouge */
